<p id="notice"><%= notice %></p>

<h1>Студенты</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Группа</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.ln %></td>
        <td><%= student.fn %></td>
        <td><%= student.sn %></td>
        <td><%= student.group.name %></td>
        <td><%= link_to 'Просмотр', student %></td>
        <td><%= link_to 'Редактирование', edit_student_path(student) %></td>
        <td><%= link_to 'Убить!', student, method: :delete, data: { confirm: 'Серьезно?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Добавить нового студента', new_student_path %>
