<table class="table">
  <thead>
    <tr>
      <th scope="col">Фамилия</th>
      <th scope="col">Имя</th>
      <th scope="col">Отчество</th>
      <th scope="col">Группа</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |s| %>
        <tr onclick="window.location='/students/<%= s.id %>'">
            <td><%= s.ln %></td>
            <td><%= s.fn %></td>
            <td><%= s.sn %></td>
            <td><%= s.group.name %></td>
        </tr>
    <% end %>
  </tbody>
</table>